html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* make sure to set some focus styles for accessibility */

 :focus {
    outline: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}


/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}


/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}


/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}


/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}


/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

 ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* zen-maru-gothic-regular - latin_cyrillic */

@font-face {
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/zen-maru-gothic-v9-latin_cyrillic-regular.svg#ZenMaruGothic') format('svg');
    /* Legacy iOS */
}


/* el-messiri-regular - latin_cyrillic */

@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/el-messiri-v15-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/el-messiri-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/el-messiri-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/el-messiri-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/el-messiri-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/el-messiri-v15-latin_cyrillic-regular.svg#ElMessiri') format('svg');
    /* Legacy iOS */
}


/* Default configuration*******************************/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    color: #2F2A2E;
}


/*Header configuration*******************************/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 16;
}

header:before {
    content: '';
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1B1C;
    z-index: 8;
}

.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__body {
    position: relative;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*AdaptiveContentWrapper*******************************/

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

@media(max-width:1200px) {
    .content-wrapper {
        max-width: 970px;
    }
}

@media(max-width:992px) {
    .content-wrapper {
        max-width: 750px;
    }
}

@media(max-width:767px) {
    .content-wrapper {
        max-width: none;
    }
}


/*HeaderBody*******************************/

.header__body {
    padding: 0 16px;
}


/*LogoWrapper*******************************/

.header__logo-wrapper {
    z-index: 8;
}

.header__logo {
    position: relative;
    display: flex;
    text-decoration: none;
}

.logo-image {
    flex: 0 0 48px;
    overflow: hidden;
}

.logo-image img {
    max-width: 100%;
    display: block;
}

.logo-text {
    margin-left: 16px;
    font-family: 'El Messiri';
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}


/*InfoWrapper*******************************/

.header__info-wrapper {
    display: flex;
    gap: 64px;
}


/*NavBar*******************************/

.header__nav {
    position: relative;
    margin: auto 0;
    z-index: 8;
}

.header__nav-list {
    display: flex;
    gap: 64px;
}

.header__nav-list li {
    list-style: none;
}

.header__nav-item-link {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    text-decoration: none;
}

.header__nav-item-link:hover,
.header__nav-item-link:active {
    text-decoration: underline;
}

.header__nav-item-link:focus {
    outline: none;
}


/*Contacts*******************************/

.header__contacts {
    display: flex;
    position: relative;
    gap: 16px;
    z-index: 8;
}

.header__contact-item {
    width: 44px;
    height: 44px;
    border: 1px solid #2F2A2E;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.telegram {
    background-image: url('../img/telegram-icon.svg');
}

.viber {
    background-image: url('../img/viber-icon.svg');
}

.instagram {
    background-image: url('../img/instagram-icon.svg');
}

.header__contact-item:hover {
    border: 1px solid #AF9553;
}


/*Burger*******************************/

.header__burger {
    display: none;
}

.header__burger.active img {
    filter: invert(20%);
}

.header__burger img {
    max-width: 100%;
    display: block;
}


/*Adaptive Header*******************************/

@media (max-width: 1159.98px) {
    .logo-text {
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__body {
        height: 64px;
    }
    .header__nav-list {
        gap: 56px;
    }
}

@media (max-width: 767.98px) {
    body.scroll_lock {
        overflow: hidden;
    }
    .header__burger {
        display: block;
        width: 36px;
        z-index: 8;
    }
    .header__nav {
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background-color: #1F1B1C;
        padding: 72px 16px 16px 24px;
        transition: all 0.3s ease 0s;
        z-index: 4;
    }
    .header__nav.active {
        top: 0;
    }
    .header__nav-list {
        display: block;
    }
    .header__nav-item {
        margin: 0 0 8px 0;
    }
}

@media (max-width: 374.98px) {
    .header__body {
        height: 48px;
    }
    .header__nav {
        padding-top: 56px;
    }
    .logo-image {
        flex: 0 0 36px;
    }
    .header__burger {
        top: 12px;
        right: 12px;
        width: 24px;
    }
}


/*Content*/

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 580px;
    padding-top: 160px;
    background-color: #2F2A2E;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-color: #201C1D;
}

.hero__content-main {
    margin-left: 120px;
    margin-top: 182px;
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.content-main__logo {}

.content-main__logo img {
    display: block;
    width: 96px;
    overflow: hidden;
}

.content-main__text {}

.text__caption {
    margin-top: -12px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.text__subcaption {
    margin-top: -16px;
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.025em;
    color: #5B5259;
}

.text__controls {
    margin-top: 42px;
    display: flex;
    gap: 32px;
}

.control {
    border: 1px solid #AF9553;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 48px;
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    text-decoration: none;
}

.control.control-filled {
    background-color: #AF9553;
}

.hero__content-image {
    overflow: hidden;
    margin-right: 120px;
    align-self: flex-end;
}

.hero__content-image img {
    object-fit: cover;
    max-width: 100%;
    display: block;
}


/*AdaptiveContent*/

@media(max-width: 1159.98px) {
    .hero {
        height: 480px;
        padding-top: 140px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        height: 380px;
    }
}

@media (max-width: 374.98px) {
    .hero {
        height: 280px;
    }
}