1. Предоставление информации об услугах
2. Предоставление контактной информации
3. Форма для создания заявки
6. Размещение и распространение документов
5. Размещение рекламы
6. Форма для создания отзывов и секция для их отображения
7. Админ панель #
8. Оплата услуг #

- Попап таблица услуг для каждой категории
- Попап заявки
- Карта
- Документы для скачивания
- Функциональность всех кнопок и ссылок
- Адаптив
- Уведомление о куках
- Косметические правки